@charset "UTF-8";


#fundo {
    height: 100vh;
    background-image: url(imagens/fundo1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    


}



header nav {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
    
    background-color: black;
    text-shadow: 1px 1px 1px #8b0000;
    
    
}

.nome {
    padding-left: 10px;
    font-size: 15px;
    
}

.ico {
    font-size: larger;
    
}

.menu ul {
    display: flex;
    
}

.item-menu {
    
    margin: 0 15px;
    padding: 17px 0px;
    list-style: none;
    
    
}

.link-menu {
    
    text-decoration: none;
    color: #8b0000;
    font-size: 1.4rem;
    font-weight: 400;
    padding-right: 15px;
    
    
}

.link-menu:hover {
    color: #FFC107;
    transition-duration: 0.2s;
}

.botao-menu {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 850px) {

    

    

    
    .item-menu {
        display: none;
    }

    .botao-menu  {
        display: block;
        
    }

    .botao-menu button {
        
        background-color: transparent;
        
        border: none;
        cursor: pointer;
        
        
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }

    .mobile-menu .item-menu {
        display: block;
        padding-top: 1.2rem;
    }

    .ico1 {
        color: #8b0000;
        font-size: 40px;
        padding-top: 10px;
        padding-right: 2waaaa0px;
    }

    .open {
        display: block;
    }

    @media screen and (max-width: 650px) {

        #fundo {
            
            background-size: 700px;
            
            background-attachment: local;
            background-color: rgb(0, 255, 17);
        }
    }
}
